.side_bar{
	float: left;
	width: 23%;
	height: 100%;
	position: fixed;
	background-color: #5f6d7e;
	color: white;
	overflow-y: hidden;
}

.welcome, .main_content{
	float: right;
	width: 77%;
}

.welcome{
	padding: 250px 180px;
	padding-right: 60px;
	position: relative;
	background: url(../resources/9.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 2;
}
.welcome_text{
	position: relative;
	z-index: 4;
}
.welcome_text h2{
	color: white;
	font-size: 57px;
	font-family: 'robotobold';
	margin-bottom: 30px;
}
.welcome_text h5{
	font-size: 22px;
	color: white;
}
.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(95, 109, 126, 0.4);
	top: 0;
	left: 0;
	z-index: 3;
}


.top_selection{
	padding: 40px;
}
.profile_img{
	width: 150px;
	height: 150px;
	border: 4px solid white;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	overflow: hidden;
	margin-bottom: 20px;
}
.profile_img img{
	width: 100%;
}
.top_selection h3{
    margin-bottom: 5px;
    color: white;
    font-size: 22px;
    font-family: 'robotobold';
}
.main_navigation{
	margin: 30px 0;
}

.main_navigation li{
	display: flex ;
	flex-direction: row ;
	flex-wrap: wrap ;
	justify-content: flex-start ;
	align-items: center ;
	align-content: center ;
}

.navigation_img {
	width: 30px;
	margin-left: 40px;
}

.main_navigation li a {
    padding: 15px 40px;
		padding-left: 15px;
    display: block;
    color: white;
    font-size: 21px;
}

.main_navigation li:hover{
	background: #505c6b;
}

.main_navigation li:active{
	background: #495461;
}

.download{
	margin-top: 65%;
}
.fluid_container{
	padding: 0 80px;
}
.page_selection{
	padding-top: 80px;
}
.row{
	margin-right: -15px;
	margin-left: -15px;
}

.col-md-12{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 10px;

	/*-webkit-box-shadow: 2px 3px 11px 2px #8C8C8C;
	box-shadow: 2px 3px 11px 2px #8C8C8C;*/
}

.col-md-12 h4{
	font-size: 22px;
	font-family: 'robotold';
	text-transform: uppercase;
	margin-bottom: 40px;
}
.col-md-12 h5{
	font-size: 19px;
}

.col-md-11 ul{
	float: left;
}
.col-md-11 div{
	float: right;
}



@media screen and (max-width: 1290px){
	.side_bar {
	  overflow-y: scroll;
	  width: 30%;
	}
	.welcome, .main_content{
		width: 70%;
	}
}
@media (max-width: 991px) and (min-width: 768px){
	.side_bar {
	  display: none;
	}
	.welcome, .main_content{
		width: 100%;
	}
}

@media screen and (max-width: 720px){
	.side_bar {
		width: 100%;
		height: 45%;
		float: none;
		position: relative;
	}
	.welcome, .main_content{
		width: 100%;
		float: none;
	}
	.welcome{
		padding: 65px 65px;
	}
	.download{
		margin: 0;
	}

	.navigations li:not(.download){
		display: none;
	}
	.navigation_img{
		margin-left: 13px;
	}
	.main_navigation li a{
		padding-left: 5px;
	}
	.main_navigation{
		margin-top: 0;
	}

	.top_selection{
		padding: 20px;
	}
	.profile_img{
		width: 170px;
		height: 170px;
		border-radius: 30px;
		float: left;
	}
	.top_selection h3{
		margin-left: 50%;
		margin-top: 7%;
	}
	.top_selection p{
		margin-left: 50%;
	}
}
