
#welcome, #main_content{
	float: right;
	width: 85%;
}
#welcome{
	padding: 250px 20%;
	padding-right: 60px;
	position: relative;
	background: url(../resources/9.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 2;
}
#welcome_text{
	position: relative;
	z-index: 4;
}
#welcome_text h2{
	color: white;
	font-size: 57px;
	font-family: 'robotobold';
	margin-bottom: 30px;
}
#welcome_text h5{
	font-size: 22px;
	color: white;
}
#overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(95, 109, 126, 0.4);
	top: 0;
	left: 0;
	z-index: 3;
}

hr{
  position: relative;
  outline: 0;
  border: 0;
  width: 100%;
  height: 4px;
  background: #dddddd;
  margin-top: 40px;
  margin-bottom: 0;
}
#fluid_container{
	padding: 0 80px;
	padding-top: 80px;
    font-size: 15px;
}
#fluid_container div{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 20px;
    margin-right: -15px;
	margin-left: -15px;
}
#fluid_container h4{
    font-size: 22px;
	font-family: 'robotold';
	text-transform: uppercase;
	margin-bottom: 40px;
}
#my_skills div{
    padding-top: 0;
}
#exp{
    margin-bottom: 170px;
}

#tele-block{
    position: relative;
    background-color: white;
    box-shadow: 1px 1px 2px 1px #666;
    left: 0px;
    top: -1px;
    z-index:1;
}
#tele-block a {
    color:dimgray;
}
#tele-block button{
    position: relative;
    background-color:gainsboro;
    padding: 8px 20px;
    border-style: hidden;
    box-shadow: 1px 1px 1px 0px #666;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#tele-block div{
    display: none;
}
#tele-block button:active{
	background: #444;
    box-shadow: 1px 1px 5px 0px #666;
}

#divForm{
    height: auto;
    width: 450px;
    background-color: white;;
    box-shadow: 1px 1px 10px 1px #666;
    padding: 20px 26px;
    position: fixed;
    display:none;
    top:40%;
    left: 40%;
    z-index: 5;
}
label {
    color: dimgray;
    font-size: 20px;
    display: inline-block;
    width: 90px;
    text-align: left;
}
input, textarea{
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
    padding: 4px;
}
input:focus, textarea:focus {
  border-color: darkslategrey;
}
textarea {
  vertical-align: top;
  height: 5em;
}
#divForm h3{
    color: dimgray;
    font-size: 24px;
    text-align: center;
    margin-bottom: 8px;
}
#divForm div{
    width: 100px;
    display: inline;
}
#divForm a{
    color: dimgray;
}
#divForm button{
    position: relative;
    background-color:gainsboro;
    padding: 8px 20px;
    border-style: hidden;
    box-shadow: 1px 1px 1px 0px #666;
    margin-top: 16px;
}
#divForm button:active{
    background: #495461;
    box-shadow: 1px 1px 5px 0px #000000;
}
#btnSend{
    float: right;
    margin-right: 50px;
}
#btnCansel{
    float: left;
    margin-left: 50px;
}

@media screen and (max-width: 1475px) {
    #welcome, #main_content{
        width: 100%;
    }
}




