body{
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  font-family: 'roboregular';
  overflow-x: hidden;
}

body, html {font-size: 100%; padding: 0; margin: 0;}

a{
  color: #006699;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  text-decoration: none !important;
}

div{
  display: block;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 500;
  line-height: 1.1;
}


@media screen and (max-width: 55em) {

}
