/**, *:after, *:before {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}*/
@font-face { font-family: 'SouciSansRegular';
src: url('SOUCISAN.eot');
src: local('SouciSans'), local('SouciSans'), url('SOUCISAN.woff') format('woff'), url('SOUCISAN.ttf') format('truetype');}
.classname{ font:50px normal normal SouciSansRegular;}
body, html {font-size: 100%; padding: 0; margin: 0;}

/*.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }*/

body {
    /*font-family: "Andale Mono", Arial, monospace;*/
    color: #9e9e9e;
}

a {
	color: #263238;
	text-decoration: none;
	font-size: 25px;
}

a:hover {
	text-shadow:2px 2px 9px #fafafa;
}

.container {
	position: relative;
	margin-top: 8em;
}

.container > header,
.main section > div {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 2.875em 1.875em 1.875em;
}
.container > header{
	/*height: 400px;*/
	width: 90%;
	max-width: 69em;
}

.container > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0 0 0.6em 0;
	float: right;
	text-align: center;
	font-weight: 400;
}
img{
	display: block;
	width: 200px;
	height: 200px;
	float: right;
	margin: auto;
	margin-right: 26%;
	border: 4px solid #263238;
}
img:hover{
	width: 28em;
	height: 28em;
/* 	margin-right: 0; */
}

.main > section:nth-child(even) {
	background: #607d8b;
	color: #fff;
}

.main section:first-child > div {
	padding-top: 1em;
}

.main section li {
	margin: 0;
	padding: 1em 0;
	font-size: 1.8em;
	line-height: 1.1;
}
.main section ul {
	list-style: none;
}

/*.clearfix div{
	width: 90%;
	max-width: 69em;
	padding: 2.875em 1.875em 1.875em;
}
.clearfix li{
	margin: 0;
  padding: 1em 0;
  font-size: 1.8em;
  line-height: 1.1;
	list-style: none;
}
.txt_header{
	margin-left: 0;
	padding-left: 0;
}*/


@media screen and (max-width: 55em) {
	img{
		display: block;
		width: 100px;
		height: 100px;
		float: none;
		margin: auto;
		margin-right: 26%;
		border: 4px solid #263238;
	}

	img:hover{
		width: 18em;
		height: 18em;
	 	margin-right: 0;
	}
}
