#side_bar{
/*    display: none;*/
	float: left;
	width: 15%;
	height: 100%;
	position: fixed;
	background-color: #5f6d7e;
	color: white;
	overflow-y: hidden;
    z-index: 4;
}

#top_selection{
	padding: 40px;
}
#top_selection h3{
    margin-bottom: 5px;
    color: white;
    font-size: 22px;
    font-family: 'robotobold';
}
#top_selection div{
	width: 150px;
	height: 150px;
	border: 4px solid white;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	overflow: hidden;
	margin-bottom: 20px;
}
#top_selection div img {
    width: 100%;
}

#main_navigation{
	margin: 30px 0;
}
#main_navigation li{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}
#main_navigation img{
	width: 30px;
	margin-left: 40px;
}
#main_navigation a {
    padding: 15px 40px;
    padding-left: 15px;
    display: block;
    color: white;
    font-size: 21px;
}
#main_navigation li:hover{
	background: #505c6b;
}
#main_navigation li:active{
	background: #495461;
}